// ┌──────────────────────────────────────────────────────┐
// │░█▀▀░█░█░█░█░░░█▀▀░▀█▀░█░█░█░░░█▀▀░█▀▀░█░█░█▀▀░█▀▀░▀█▀│
// │░█▀▀░█▄█░█▄█░░░▀▀█░░█░░░█░░█░░░█▀▀░▀▀█░█▀█░█▀▀░█▀▀░░█░│
// │░▀▀▀░▀░▀░▀░▀░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░░▀░│
// └──────────────────────────────────────────────────────┘
button {
    &:hover {
        background-color: #6272a4;
	   color: #f8f8f2;
    }
    border-radius: 0;
}
.header {
    color: #bd93f9;
    font-size: 17px;
    font-family: "Jetbrains Mono Semibold";
}
.button {
    color: #f8f8f2;
	font-family: "JetBrainsMono Nerd Font";
    font-size: 35px;
}
.poweroff {
    color: #ff5555;
    font-size: 50px;
}
.powerbutton {
    color: #f8f8f2;
    font-size: 50px;
}
.sleep {
    color: #f1fa8c;
    font-size: 50px;
}
.graph {
    color: #6272a4;
    background-color: #282a36;
    trough progress {
        background-color: #6272a4;
    }
}
.base {
    color: #f8f8f2;
    font-size: 15px;
}
.bg {
    border: 3px solid #6272a4;
}
